.header{
    grid-area: hd;
}
.content{
    grid-area: ct;
}
.navbar{
    grid-area: nv;
}
.footer{
    grid-area: ft;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}