html {
    background-color: lightslategray;
}
.header{
    grid-area: hd;
}
.content{
    grid-area: ct;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}
.navbar{
    grid-area: nv;
}
.footer{
    grid-area: ft;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card{
    border: 5px solid gray;
    margin: 5px;
    background-color: linen;
}