@import "footer.css";

html {
    background-color: lightslategray;
}

.container{
    display: grid;
    grid-template-areas:
    "hd"
    "nv"
    "ct"
    "ft";
}

@media (min-width: 600px) {
    .container{
        display: grid;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "ct ct ct ct ct ct ct nv"
        "ft ft ft ft ft ft ft ft";
    }
}

.header{
    grid-area: hd;
}

.header > a > img {
    width: 60%;
    height: auto;
}

.content{
    grid-area: ct;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.navbar {
    grid-area: nv;
}

.card {
    padding: 10px;
    border: 5px solid gray;
    border-radius: 25px;
    margin: 5px;
    background-color: linen;
}