@import "blog.css";

.container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "ct ct ct ct ct ct nv nv"
    "ct ct ct ct ct ct nv nv"
    "ct ct ct ct ct ct nv nv"
    "ct ct ct ct ct ct nv nv"
    "ct ct ct ct ct ct nv nv"
    "ft ft ft ft ft ft ft ft"
    "ft ft ft ft ft ft ft ft";
}
.author{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "pic info"
    "desc desc";
}
.author-picture{
    grid-area: pic;
}
.author-info{
    grid-area: info;
}
.author-description{
    grid-area: desc;
}