@import "blog.css";

.author{
    display: grid;
    grid-template-areas: 
    "pic info"
    "desc desc";
}
.author-picture{
    /* keep from hitting corner */
    padding-top: 10px;
    padding-left: 10px;
    grid-area: pic;
}
.author-info{
    grid-area: info;
}
.author-description{
    grid-area: desc;
}