.footer {
    grid-area: ft;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-grid {
    display: grid;
    grid-template-areas:
    "abt contact"
    "priv tou";
}

.about {
    grid-area: abt;
}
.contact-us {
    grid-area: contact;
}
.terms-of-use {
    grid-area: tou;
}
.privacy {
    grid-area: priv;
}
.footer-item {
    padding-right: 10px;
}